        <center>
          <h1>Erin VanWinkle<br>
            Piano Studio
          </h1>
          <p>Central Florida Lessons and Accompaniment</p>
      		<img src="../images/Erin.jpg" alt="Erin VanWinkle, Piano Teacher" />
      		
      		<p class="links">
                <a href="http://erinvanwinkle.github.io">Professional Bio</a><br>
                <a href="http://erinvanwinkle.github.io/philosophy">Teaching Philosophy</a><br>
        		<a href="http://erinvanwinkle.github.io/studio_policy">Studio Policy</a><br>
        		<a href="http://erinvanwinkle.github.io/students">For Students</a><br>
        		<a href="http://erinvanwinkle.github.io/parents">For Parents</a><br>
        		<a href="http://erinvanwinkle.github.io/registration">Registration</a><br>
        		<a href="http://erinvanwinkle.github.io/contact">Contact</a><br>
      		</p>
    		</center>
